@media screen and (min-width: 576px) {
  
  .hashtag-row {
    border-top: 1px solid #e6edf5;
  }

  .header::after {
    margin-bottom: 120px;
  }

  #logo {
    overflow: visible;
  }

  .calendar-banner-wrap {
    display: flex;
    flex-direction: column-reverse;
  }

  .banner-wrap {
    height: 400px;
    /* background-image: url("./womany.net/e9eaa4dfb30a396ab801d0f9949c364a.jpg"); */
  }

  .date-card {
    flex-direction: row;
  }

  .date-slogan {
    width: 30%;
    padding: 20px 40px;
  }

  .test-wrap {
    display: flex;
    flex-wrap: wrap;
  }

  .test-card {
    width: 50%;
  }

  .topics-new-wrap {
    display: flex;
    flex-wrap: wrap;
  }

  .new-topic-card:first-child {
    width: 33.33%;
  }

  .new-topic-card:nth-child(2),
  .new-topic-card:nth-child(3) {
    width: 33.33%;
    border-bottom: 2px solid #f3f3f3;
    flex-direction: column;
  }

  .new-topic-card:first-child>.card-img,
  .new-topic-card:nth-child(2)>.card-img,
  .new-topic-card:nth-child(3)>.card-img {
    width: 100%;
    height: 160px;
    background-size: contain;
  }

  .new-topic-card {
    width: 50%;
  }

  .footer-bottom>div {
    display: flex;
    justify-content: center;
  }

}


@media screen and (min-width: 768px) {
  .search-wrap {
    display: flex;
    border-bottom: 1px solid #888;
    
  }

  .search-input {
    display: block;
    border: 0;
    transition: width 1s ;
  }

  
}

@media screen and (min-width: 960px) {
  .side-nav ul {
    width: fit-content;
    background-color: #f3f3f3;
    flex-direction: column;
    position: fixed;
    margin-top: 60px;
    /*  */
  }
  
}